
header {
  height: 40%;

  /* Center and scale the image nicely */
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
